language: objective-c
osx_image: xcode7.2
xcode_project: WaniKit.xcodeproj
xcode_scheme:
    - WaniKit
    - WaniKit-OSX
xcode_sdk:
    - iphonesimulator9.2
    - macosx10.11
matrix:
     exclude:
           - xcode_scheme: WaniKit
             xcode_sdk: macosx10.11
           - xcode_scheme: WaniKit-OSX
             xcode_sdk: iphonesimulator9.2
